/* Bestimmung der Farben */

:root {
    --gruenspan: rgb(176,213,166);
    --tarngruen: rgb(53,76,40);
    --kressegruen: rgb(94,113,28);
    --sandgrau: rgb(136,138,134);
    --grapefruit: rgb(254,205,49);
    --schmetterlingsblau: rgb(103,177,227);
    --antikblau: rgb(0,45,91);
    --klatschmohnrot: rgb(237, 60, 11);
    --creme: rgb(254,244,229);
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas:
    "rand_links   logo         hauptbereich   rand_rechts"
    "rand_links   navigation   hauptbereich   rand_rechts";
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    word-spacing: 0.1em;
    line-height: 150%;
    background-color: var(--gruenspan);
}

div.logo {
    grid-area: logo;
    background-color: var(--kressegruen);
    text-align: center;
    align-content: center;
}

div.mitte {
    grid-area: hauptbereich;
    position: relative;
    overflow: visible;
}

div.randr {
    grid-area: rand_rechts;
}

div.randl {
    grid-area: rand_links;
}

nav {
    grid-area: navigation;
    background-color: var(--kressegruen);
}

nav ul {
    padding: 0;
    list-style-type: none;
    color: var(--creme);
}

nav li {
    margin: 0.3em 0.5em 0.3em;
    padding: 0.4em;
    background-color: var(--tarngruen);
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0em 0em 0.4em 0em var(--creme);
    cursor: pointer;
}

nav li:active {
    margin: 0.3em 0.5em 0.3em;
    padding: 0.4em;
    background-color: var(--creme);
    border-radius: 0.5em;
    text-align: center;
    color: var(--tarngruen);
}

#anim0_eintrag, #anim5_eintrag {
    margin: 0.3em 0.5em 0.6em;
}

nav ul.submenu {
    visibility: hidden;
    margin: 0em 0em;
    height: 0em;
}

nav li.submenuEintrag {
    background-color: var(--gruenspan);
    border-color: var(--tarngruen);
    border-style: solid;
    border-width: 0.1em;
    color: black;
}

nav li.submenuEintrag:active {
    background-color: var(--tarngruen);
    border-color: var(--gruenspan);
    border-style: solid;
    border-width: 0.1em;
    color: var(--creme);
}

#menuicon {
    position: absolute;
    visibility: hidden;
    height: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 2em;
    cursor: pointer;
    z-index: 1;
}

#logo_mit_text {
    position: absolute;
    visibility: hidden;
    height: 6em;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 2;
}

#logo_ohne_text {
    max-width: 75%;
    max-height: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 2;
}

@media screen and (width <= 1440px) {
    body {
        grid-template-columns: 0fr 2fr 10fr 0fr
    }
}

@media screen and (width <= 1280px) {
    body {
        grid-template-columns: 0fr 2fr 10fr 0fr;
        font-size: 85%;
    }
}

@media screen and (width <= 960px) {
    body {
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 0fr 0fr 1fr;
        grid-template-areas:
        "logo"
        "navigation"
        "hauptbereich";
        font-size: 75%;
    }
    nav {
        position: absolute;
        width: 96vw;
        z-index: 3;
    }
    .unsichtbar {
        display: none;
    }
    .sichtbar {
        display: inline;
    }
    div.logo {
        text-align: left;
    }
    #menuicon {
        position: relative;
        visibility: visible;
    }
    #logo_ohne_text {
        position: absolute;
        visibility: hidden;
    }
    #logo_mit_text {
        position: relative;
        visibility: visible;
    }
}

h1, h2 {
    color: var(--tarngruen);
    line-height: 150%;
    margin: 1em;
}

p {
    margin: 1em;
    padding: 0em 1em;
}

.animation {
    display: none;
}

button.animbutton {
    background-color: var(--kressegruen);
    border-radius: 0.4em;
    border-style: none;
    border-width: thin;
    border-color: var(--kressegruen);
    box-shadow: 0em 0em 0.5em 0em var(--creme);
    font-size: 1em;
    padding: 0.7em;
    color: var(--creme);
    cursor: pointer;
}
button.animbutton:active {
    background-color: var(--creme);
    color: var(--kressegruen);
    box-shadow: 0em 0em 0.5em 0em var(--kressegruen);
}

#a3c_buttonBerechnung1, #a3c_buttonBerechnung2, #a3c_buttonBerechnung3,
#a3d_buttonBerechnung1, #a3d_buttonBerechnung2, #a3d_buttonBerechnung3 {
    border-radius: 0.3em;
    box-shadow: 0em 0em 0.2em 0em var(--creme);
    padding: 0.4em;
}

div .hintergrund {
    background-color: var(--sandgrau);
    border-radius: 0.5em;
    height: 30em;
    min-width: 96%;
    overflow: scroll;
    margin: 2%;
}

.hinweis {
    visibility: hidden;
    background-color: var(--kressegruen);
    border-radius: 1em;
    max-width: 20em;
    position: absolute;
    padding: 1em 1em 0.5em 1em;
    color: var(--grapefruit);
    text-align: right;
    font-weight: bold;
    box-shadow: 0em 0em 2em var(--grapefruit);
}

.hinweistext {
    text-align: center;
    margin: 0.5em 0em 1.2em 0em;
}

button.hinweisbutton {
    background-color: var(--grapefruit);
    border-radius: 0.2em ;
    border-style: solid;
    border-color: var(--grapefruit);
    font-size: 1em;
    padding: 0.3em;
    width: 5em;
    color: var(--kressegruen);
    position: flex; right: 0em;
    cursor: pointer;
}

button.hinweisbutton:active {
    background-color: var(--kressegruen);
    color: var(--grapefruit);
}

.infoimg {
    visibility: hidden;
    width: 4em;
    cursor: pointer;
}

.infoimg:active {
    filter: invert(0.5);
}

.infotext { 
    box-shadow: 0em 0em 2em 0em var(--schmetterlingsblau);
    padding: 1.5em 1.5em 1em 1.5em;
    border-radius: 0.5em;
    background-color: var(--grapefruit);
    position: absolute; left: 1em; top: 1em;
    max-width: 87%;
    overflow: auto;
    color: var(--antikblau);
}

button.infobutton {
    background-color: var(--schmetterlingsblau);
    border-radius: 0.4em;
    border-style: none;
    margin-top: 1em;
    box-shadow: 0em 0em 0.7em 0em var(--creme);
    font-size: 1em;
    padding: 0.3em 0.5em;
    color: var(--creme);
    float: right;
    cursor: pointer;
}

button.infobutton:active {
    background-color: var(--creme);
    box-shadow: 0em 0em 0.7em 0em var(--schmetterlingsblau);
    color: var(--schmetterlingsblau);
}

.hintergrundwissen { 
    box-shadow: 0em 0em 2em 0em var(--creme);
    padding: 1.5em 1.5em 1em 1.5em;
    border-radius: 0.5em;
    background-color: var(--antikblau);
    position: absolute; left: 1em; top: 1em;
    max-width: 87%;
    overflow: auto;
    color: var(--grapefruit);
}

button.hintergrbutton {
    background-color: var(--grapefruit);
    border-radius: 0.4em;
    border-style: none;
    margin-top: 1em;
    box-shadow: 0em 0em 0.7em 0em var(--creme);
    font-size: 1em;
    padding: 0.3em 0.5em;
    color: var(--antikblau);
    float: right;
    cursor: pointer;
}
button.hintergrbutton:active {
    background-color: var(--antikblau);
    color: var(--grapefruit);
}

.formular {
    visibility: hidden;
    background-color: var(--gruenspan);
    box-shadow: 0em 0em 2em var(--tarngruen);
    border-radius: 1em;
    width: 15em;
    padding: 0.5em;
    text-align: center;
}

button.formularbutton {
    background-color: var(--tarngruen);
    border-radius: 0.4em;
    border-style: none;
    box-shadow: 0em 0em 0.7em 0em var(--creme);
    font-size: 1em;
    padding: 0.3em 0.5em;
    margin: 1em 0.5em 0.5em;
    color: var(--creme);
    float: right;
    cursor: pointer;
}
button.formularbutton:active {
    background-color: var(--creme);
    color: var(--tarngruen);
}

input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    border: 0em;
    border-radius: 0.3em;
    padding: 0.2em;
    box-shadow: 0em 0em 0.4em var(--tarngruen);
    background-color: var(--creme);
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: 0.15em solid var(--tarngruen);
}

.block {
    width: 11em;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
}

.a4bc_block {
    font-size: 80%;
    line-height: 125%;
}

.blockinhalt {
    width: 80%;
    padding: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blockHashInhalt {
    width: 8.9em; 
    padding: 0.5em;
    visibility: hidden;
}

.a1d_blockInhalt {
    height: 5em; 
    padding: 0.5em;
    padding-bottom: 1.5em;
    width: 8.9em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.graph {
    width: 42em;
}

.knoten {
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    height: 9em;
    width: 9em;
    border-radius: 50%;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.knotenName {
    height: 5em;
    width: 5em;
}

#a2a_knotenNeu, #a2b_knotenNeuName, #a2b_knotenNeu, #a2b_privateSchluessel {
    color: var(--kressegruen);
    border-color: var(--kressegruen);
}

.tabelle {
    display: table;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    width: 100%;
}

.tabFeld {
    text-align: center;
    border-bottom: solid;
    border-width: thin;
}

.tabFeldTitel {
    text-align: center;
    padding: 0.5em;
    border-bottom: solid;
    border-width: thin;
}

.tabHervorgehoben {
    text-align: center;
    background-color: var(--grapefruit);
    color: var(--klatschmohnrot);
    font-weight: bold;
}

.tabTransaktion {
    width: 14em;
}

.a4bc_tabTransaktion {
    width: 13.5em;
    font-size: 80%;
    line-height: 125%;
}

.tabFremdeAdressen {
    width: 18em;
}

.tabEigeneAdressen {
    width: 22em;
}

.tabSignatur {
    width: 30em;
}

.hash {
    font-family: 'Bitstream Vera Sans Mono', Consolas, 'Courier New', Courier, monospace;
    font-size: 120%;
}

#a5ab_nonceHash1, #a5ab_nonceHash2 {
    font-weight: bold;
    font-size: larger;
}
#a5ab_blockHash1, #a5ab_blockHash2 {
    font-weight: bold;
    font-size: larger;
    color: var(--klatschmohnrot);
}

.signatur {
    font-family: 'Bitstream Vera Sans Mono', Consolas, 'Courier New', Courier, monospace;
    font-size: 125%;
    font-weight: bold;
}

#a3d_gueltigeTrans {
    width: 10em;
    background-color: var(--kressegruen);
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    font-weight: bold;
    color: var(--creme);
}

#a3d_zurueckgewieseneTrans {
    width: 11em;
    background-color: var(--klatschmohnrot);
    border-width: thin;
    border-style: solid;
    border-color: black;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    font-weight: bold;
    color: var(--grapefruit);
}

.feld {
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 0.3em 1em;
}

.a4bc_feld {
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: black;
    font-size: 80%;
    line-height: 125%;
    text-align: center;
    padding: 0.4em;
}

.geaendeterWert {
    font-weight: bold;
    color: var(--klatschmohnrot);
}

.gruenerHintergrund {
    background-color: var(--kressegruen);
}

.teileBlockGruen {
    background-color: var(--kressegruen);
    border-width: thin;
    border-style: solid;
    border-color: black;
    color: var(--creme);
    text-align: center;
    padding: 0.1em;
}

.teileBlockGruen {
    background-color: var(--schmetterlingsblau);
    border-width: thin;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 0.1em;
}